# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ioana\OneDrive - Technical University of Cluj-Napoca\an2\sem2\tp\laborator\PT2021_30225_Anton_Ioana_Assignment_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
